* {
    margin: 0;
}
.verde{
    position: absolute;
    width:100vw;
    height: 100vh;
    background-color: green;
}
.vermelho{
    position: absolute;
    width:100vw;
    height: 100vh;
    background-color:red;
}
.php p{
    position: absolute;
    font-size: 25px;
    color: aliceblue;
}
.php h1{
    position: absolute;
    font-size: 25px;
}