h1{
    text-align:center;
}
.php{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.corpar{
    background-color: black;
    color: white;
    width: 200px;
    height: 200px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.corimpar{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 200px;
    height: 200px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
