body{
    margin: 0;
    box-sizing: 0;
    background-color: black;
}
.php{
    display: flex;
    justify-content: center;
    margin: 50px;

}
.php .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
    height: 700px; 
    background-color: rgb(242, 242, 242);
}
.php .container p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif
}

.php .container .magreza{
    position: relative;
    left: -320px;
    top: -30px;
}
.php .container .normal{
    position: relative;
    left: -320px;
    top: -30px;
}
.php .container .sobrepeso{
    position: relative;
    left: -320px;
    top: -30px;
}
.php .container .obesidade1{
    position: relative;
    left: -320px;
    top: -30px;
}
.php .container .obesidade2{
    position: relative;
    left: -320px;
    top: -30px;
}
.php .container .obesidade3{
    position: relative;
    left: -320px;
    top: -30px;
}
